:root {
	--primary-text-color: #ffffff;
	--secondary-text-color: #C1C4DB;
	--primary-color: #131524;
	--background-color: #27282e;
	--dialog-bg: #222;
	--dialog-shadow: rgba(0, 0, 0, 0.75);
	--code-bg: #39383b;
	--nav-bg: #1a1a1a;
	--card-bg: #221e35;
	--link-active: #5967e2;
	--link-visited: #745be0;
	--canvas-bg: #aab7ff;
	--table-odd: #32313f;
	--table-even: #1e1e25;
	--green: #3ed13e;
	--red: #ec3f3f;
	--info-bg: #494438;

	--white: #000;
	--black: #FFF;
}

.light {
	--primary-text-color: #000;
	--secondary-text-color: #3D404E;
	--background-color: #FFF;
	--primary-color: #F3F3F8;
	--dialog-bg: #EEE;
	--dialog-shadow: rgba(0, 0, 0, 0.25);
	--code-bg: #EEE;
	--nav-bg: #CCC;
	--card-bg: #DDD;
	--link-active: #4353df;
	--link-visited: #7855da;
	--canvas-bg: #dae8fc;
	--table-odd: #e6e6e6;
	--table-even: #f3f3f3;
	--green: #3ed13e;
	--red: #ec3f3f;
	--info-bg: #e9dead;

	--white: #FFF;
	--black: #000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
	background-color: var(--background-color);
	transition: .2s;
}

h1, h2, h3, h4, p, b, td, th, a, small, label, input, summary, span, li {
	color: var(--primary-text-color);
}

summary {
	cursor: pointer;
	padding: 15px 0;
}

.green {
	background-color: var(--green);
}
.red {
	background-color: var(--red);
}

main {
	padding: 25px 100px;
}
@media screen and (max-width: 900px) {
	main {
		padding: 20px 50px;
	}
}
@media screen and (max-width: 500px) {
	main {
		padding: 15px 20px;
	}
}

img.avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
button {
	background-color: #3e4dd1;
	border: none;
	color: #FFF;
	padding: 10px 22px;
	border-radius: 7px;
	font-size: 19px;
	cursor: pointer;
	transition: .3s;
}
button:hover:not(.red):not(.green) {
	background-color: #416bc5;
}
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

h1 {
	text-align: center;
	text-wrap: balance;
}
h1 strong {
	color: var(--link-active);
}

p {
	font-size: 19px;
}
code {
	background-color: var(--code-bg);
	padding: 1px 2px;
	border-radius: 3px;
}

a {
	text-decoration: none;
	color: var(--link-active);
}
a:visited {
	color: var(--link-visited);
}

#filter-container {
	margin: 20px 0 20px 40px;
}

#cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: 20px;
	grid-gap: 15px;
}
#cards-container div {
	padding: 13px;
	border-radius: 10px;
	background-color: var(--card-bg);
	display: flex;
	flex-direction: column;
}
#cards-container div span {
	color: var(--secondary-text-color);
	text-transform: uppercase;
	padding-top: 15px;
}

#setup {
	margin: 15px 3px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--info-bg);
}

nav {
	background-color: var(--nav-bg);
	padding: 15px;
}
nav img {
	width: 110px;
	vertical-align: text-top;
}

nav a {
	padding: 15px;
	font-size: 21px;
}
nav a.active {
	text-decoration: underline;
}

nav ion-icon {
	font-size: 22px;
	vertical-align: text-bottom;
	cursor: pointer;
	color: var(--black);
}

thead tr:first-child, tr {
	background-color: var(--table-even);
}
tr:nth-child(odd) {
	background-color: var(--table-odd);
}

.bots {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px;
}

/* Bot cards */
bot-card {
	padding: 13px;
	border-radius: 10px;
	background-color: var(--card-bg);
	display: flex;
	align-items: center;
}
bot-card a {
	font-size: 25px;
	text-decoration: none;
}
bot-card img {
	border-radius: 50%;
	margin-right: 10px;
	width: 64px;
	height: 64px;
}

#charts {
	margin: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
@media screen and (max-width: 768px) {
	#charts {
		grid-template-columns: 1fr;
	}
}

canvas {
	border-radius: 10px;
	background-color: var(--canvas-bg);
}

input:not([type=checkbox]) {
	border-radius: 8px;
	outline: none;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	min-width: 120px;
	transition: .3s;
	background: var(--primary-color);
}
input:focus {
	box-shadow: 0 0 6px 2px var(--primary-color);
}
input:invalid, input:out-of-range {
	box-shadow: 0 0 6px 2px #F00;
}

/* Dialog */
.dialog {
	position: fixed;
	display: none;
	z-index: 10;
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--dialog-shadow);
	transition: .3;
}

.dialog-content {
	position: relative;
	margin: auto;
	width: 75%;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animateDialog;
	animation-duration: 0.4s;
	background-color: var(--dialog-bg);
	border-radius: 5px;

	max-height: -webkit-fill-available;
	overflow: scroll;
	margin-bottom: 100px;
}

@keyframes animateDialog {
	from {width: 0; opacity: 0;}
	to {width: 75%; opacity: 1;}
}

.close {
	color: #AAA;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: .2s;
}
.close:hover, .close:focus {
	color: #000;
	cursor: pointer;
}

.dialog label {
	display: block;
	color: var(--secondary-text-color);
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 20px;
}
.dialog input {
	border-radius: 10px;
	padding: 8px;
	font-size: 20px;
}
