#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	padding: 15px 20px;
	border-radius: 15px;
	background-color: #b2b7fd;
	margin-right: 20px;
}
.card p {
	margin: 0;
	font-size: 30px;
}
.card p.val {
	font-size: 40px;
	text-align: center;
}

#charts {
	margin: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
@media screen and (max-width: 768px) {
	#charts {
		grid-template-columns: 1fr;
	}
}

canvas {
	border-radius: 10px;
	background-color: #d1e6f7;
}
