body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
}

main {
	padding: 0 20px;
}

img.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
button {
	background-color: #3e4dd1;
	border: none;
	color: white;
	padding: 12px 26px;
	border-radius: 7px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s;
}
button:hover {
	background-color: #4874d1;
}
